h1{
    margin-left: 5%;
    width: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    font-weight: 500;
    position: relative;
    top: 80px;
    color: white;
}
body{
    background-color: black;
}
p{
    color: white;
    position: relative;
    top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    white-space: 85%;
    font-weight: 500;
    width: 70%;
}
.btn-1{
    margin-left: 5%;
    height: 38px;
    width: 40%;
    background: none;
    position: relative;
    top: 80px;
    border:  solid 1px rgb(145, 145, 145);
    color: white;
    border-radius: 40px;
}
.block-1{
    width: 90%;
    margin-left: 5%;
    height: 300px;
    background-color: rgb(31, 31, 31);
    position: relative;
    top: 90px;
    border-radius: 20px;
}
.text-1{
    width: 90%;
    margin-left: 5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    font-weight: 500;
}
.p1{
    width: 90%;
    margin-left: 5%;
    color: rgb(224, 224, 224);
    position: relative;
    top: 10px;
}
.btn-2{
    width: 90%;
    margin-left: 5%;
    height: 37px;
    border: solid 1px white;
    border-radius: 45px;
    position: relative;
    top: 15px;
    background: none;
    color: white;
}