h1{
    margin-left: 5%;
    width: 85%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    font-weight: 500;
    position: relative;
    top: 80px;
    color: white;
}
.txt-1{
    font-size: 30.6px;
}
body{
    background-color: black;
}
p{
    color: white;
    position: relative;
    top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    white-space: 85%;
    font-weight: 500;
    width: 70%;
}
.btn-1{
    margin-left: 5%;
    height: 48px;
    width: 90%;
    background: linear-gradient(to right, black, rgb(22, 103, 109));
    position: relative;
    top: 80px;
    border: none;
    color: white;
    border-radius: 0px;
}
.block-1{
    width: 95%;
    margin-left: 2.5%;
    height: 300px;
    background-color: rgb(15, 15, 15);
    position: relative;
    top: 90px;
    border-radius: 10px;
}
.text-1{
    width: 90%;
    margin-left: 5%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;
    font-weight: 500;
}
.p1{
    width: 90%;
    margin-left: 5%;
    color: rgb(224, 224, 224);
    position: relative;
    top: 10px;
    font-weight: 300;
}
.btn-2{
    width: 90%;
    margin-left: 5%;
    height: 37px;
    border: solid 1px white;
    border-radius: 45px;
    position: relative;
    top: 15px;
    background: none;
    color: rgb(231, 231, 231);
}
.block{
    position: relative;
top: 80px;
width: 95%;
margin-left: 2.5%;
height: 250px;
background-color: rgb(20, 20, 20);
border-radius: 12.5px;
}
.oneB{
    width: 95%;
    margin-left: 5;
    color: black;
    position: relative;
color: rgb(218, 218, 218);
top: 20px;
font-weight: bolder;
font-size: 21px;
}
.info{
    width: 95%;
    margin-left: 5%;
    position: relative;
    top: 12.5px;
    color: rgb(184, 184, 184);
}
.btn-3{
    width: 60%;
    margin-left: 5%;
    height: 35px;
    background-color: white;
    border: none;
    color: black;
    font-weight: 700;
    position: relative;
    top: 20px;
    border-radius: 40px;
}