h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
img{
    width: 50%;
    margin-left: 0%;
    position: relative;
    top: 0px;
}
.block-1{
    width: 50%;
    height: 374px;
    background-color: rgb(24, 24, 24);
    margin-left: 50%;
    position: relative;
    top: -378px;
}
p{
    width: 90%;
    margin-left: 7%;
    margin-right: 3%;
    color: rgb(161, 161, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    top: 33px;
}
.p-block-1{
    width: 90%;
    margin-left: 5%;
    height: 160px;
    background-color: rgb(32, 32, 32);
    border-radius: 8px;
}
.btn-1{
    margin-left: 6%;
    border: solid 1px white;
    background: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    width: 30%;
    border-radius: 33px;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: none;
}
a{
    color: rgb(216, 216, 216);
}
.img-block-1{
    width: 80%;
    margin-left: 10%;
    height: 422px;
    background-image: url(ashley-byrd-yzkTCP4uc9E-unsplash.jpg);
    background-size: cover;
    background-position: center; /* You can change this to adjust the position */
    position: absolute;
    top: 850px;
    border-radius: 0px;
    border: solid 5px rgb(126, 124, 124);
}
.img-block-1:hover{
    width: 90%;
    margin-left: 5%;
    height: 460px;
    transition: all 0.5s ease; /* Добавляем плавную анимацию для всех свойств */
    
}
body{
    background-color: black;
}
.gf-1{
    width: 30%;
    margin-left: 2.5%;
    height: 380px;
    background: none;
    border: none;
    position: relative;
    top: 300px;
    border-radius: 20px;
    display: inline-block;
    background-color: rgb(30, 33, 46);
}
.gf-1:hover{
    border: none;
    
    background-color: rgb(30, 31, 37);
}
h2{
    color: rgb(255, 195, 117);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 900;
    margin-left: 5%;
}
.p-gf{
    font-size: 15px;
    color: rgb(207, 207, 207);
    position: relative;
    top: 10px;
    margin-left: 5%;
}
.p-block-2{
    width: 92%;
    margin-left: 4%;
    height: 141px;
    background-color: rgb(42, 42, 53);
    border-radius: 7px;
}
.gf-btn{
    margin-left: 5%;
    height: 35px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 55%;
    font-weight: bold;
    position: relative;
    margin-top: 33px;
}
.gf-btn-2{
    margin-left: -55%;
    height: 35px;
    border: solid 0.5px rgb(255, 255, 255);
    border-radius: 30px;
    width: 55%;
    color: rgb(255, 255, 255);
    background: none;
    position: relative;
    top: 45px;
}
.gf-btn:hover{
    background: none;
    background-color: rgb(235, 235, 235);
}
.gf-btn-2:hover{
    background-color: rgb(24, 23, 23);
}
i{
    color: rgb(48, 48, 48);
    font-size: 25px;
    background: none;
    font-weight: 900;
}
.viem-more{
    background: none;
    border: none;
    margin-left: 80%;
    position: relative;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
}
.viem-more:hover{
    background-color: rgb(104, 104, 104);
}
.txt-1{
    position: relative; top: -20px; font-size: 65px;font-weight: 100; 
}
.txt-3{
    width: 80%; text-align: center; color: rgb(255, 255, 255); font-size: 50px; position: relative; top: 8%; font-weight: 100;
}
.sc-1{
    color: rgb(255, 255, 255); position: relative; top: -50px; margin-left: 11%;
}
form{
    width: 80%;
    margin-left: 10%;
    height: 400px;
    background-color: rgb(37, 38, 44);
    position: relative;
    top: 450px;
    border-radius: 4.5px;
}
.name{
    width: 25%;
    height: 40px;
    border: solid 1px rgb(88, 88, 88);
    margin-left: 2.5%;
    position: relative;
    top: 20%;
    border-radius: 9px;
    background: none;
    color: rgb(150, 150, 150);
    font-size: 20px;
}
.name::placeholder{
    position: relative;
    left: 20px;
    font-size: 17px;
}
input::placeholder{
    position: relative;
    left: 20px;
    font-size: 17px;
    color: rgb(134, 134, 134);
}
input{
    border-radius: 9px;
    background: none;
    height: 40px;
    border: solid 1px rgb(88, 88, 88);
    font-size: 22px;
    color: rgb(150, 150, 150);
    outline: none;
}
input:hover{
    background-color: rgb(52, 54, 59);
}
.number{
    position: relative;
    top: 20%;
    border-radius: 9px;
    margin-left: 2.5%;
    width: 35%;
}
.email{
    position: relative;
    top: 20%;
    margin-left: 2.5%;
    width: 25%;
}
.coment{
    position: relative;
    top: 100px;
    margin-left: 2.5%;
    width: 92.5%;
    height: 70px;
    font-size: 22px;
    
    color: rgb(134, 134, 134);
}
.send{
    margin-left: 2.5%;
    width: 92.5%;
    height: 40px;
    border: none;
    background-color: white;
    position: relative;
    top: 122px;
    border-radius: 8px;
    font-weight: bolder;
}
.send:hover{
background-color: rgb(219, 219, 219);
}
.input-p{
    font-size: 25px;
    margin-left: 2.5%;
    position: relative;
    top: 60px;
    color: white;
    font-weight: 700;
}
.img-block-2{
    width: 80%;
    margin-left: 10%;
    height: 300px;
    background-image: url(ashley-byrd-yzkTCP4uc9E-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
/* Стили для мобильных устройств с шириной экрана до 768 пикселей */
@media screen and (max-width: 768px) {
    /* Твои стили для смартфонов */
    h1{
        font-size: 45px;
    }
    .txt-2{
        font-size: 31px;
        color: rgb(255, 220, 145);
    }
    .img-1{
        width: 100%;
        height: auto;
        margin-left: 0%;
        margin-right: -3%;
    }
    .block-1{
        width: 100%;
        position: relative;
        margin-left: 0px;
        top: 80px;
    }
    .img-block-1{
        position: relative;
        top: 300px;
    }
    .txt-3{
        font-size: 28px;
        margin-left: 5%;
        color: rgb(255, 220, 145);
    }
    .sc-1{
        position: relative;
        top: 101px;
        margin-left: 10%;
        display: none;
    }
    .btn-1{
        margin-left: 10%;
        position: relative;
        top: 40px;
    }
    .p-block-1{
        height: 210px;
    }
  }