@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Josefin+Sans:ital,wght@1,700&family=Raleway:wght@100&family=Roboto+Mono:ital@1&display=swap');

.block-1{
    object-fit: cover;
    background-image: url(pexels-george-ketselashvili-761787.jpg);
    width: 100%;
    height: 900px;
    background-size: cover;
    position: relative;
    top: -30px;
}
.txt-4{
    font-size: 35px;
    width: 90%;
    font-weight: bolder;
    color: beige;
}
.tip-3{
    background-image: url(hao-wang-pVq6YhmDPtk-unsplash.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    top: 300px;
}
img{
    width: 100%;
  position: relative;
  top: 33px;
}
.img-2{
    background-image: url(marketing-creative-collage-with-phone-transformed.png);
    width: 100%;
    height: 300px;
    background-size: cover;
}
.btn-4{
    width: 85%;
    margin-left: 7.5%;
    height: 50px;
    color: white;
    border-radius: 13px;
    background-color: cadetblue;
    position: relative;
    top: 70px;
}
.btn-4:hover{
    background-color: burlywood;
}
.block-2{
    width: 100%;
    height: 2500px;
    background-color: black;
    position: relative;
    top: -30px;
}
.opc{
    width: 100%;
    height: 900px;
    opacity: 0.0;
    position: relative;
    top: -700px;
    background-color: rgb(73, 75, 75);
}
.txt-3{
    font-size: 34px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 30px;
    
}
.txt-4{
    margin-left: 20px;
    font-weight: 400;
    font-size: 35px;
    position: relative;
    top: 80px;
    color: beige;
}
.tip{
    width: 100%;
    height: 600px;
    position: relative;
    top: 100px;
}

.tip-2{
    width: 100%;
    height: 600px;
    position: relative;
    top: 300px;
}
.tip-txt{
    color: rgb(168, 191, 255);
    margin-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 40px;
    font-size: 31px;
    font-weight: 600;
}
.flatcoin{
    width: 30%;
    margin-left: 35%;
    position: relative;
    top: 80px;
}
.flatcoin-1{
    width: 30%;
    margin-left: 20px;
    position: relative;
    top: 80px;
    position: relative;
    top: 100px;
}
.btn-3{
    margin-left: 20px;
    background-color: white;
    color: black;
    width: 50%;
    border-radius: 15px;
    position: relative;
    top: 40px;
}
.txt-5{
    position: relative;

top: 100px;
font-size: 35px;
color: rgb(213, 229, 230);
}
p{
    color: rgb(243, 242, 209);
    margin-left: 20px;
    font-weight: 200;
    position: relative;
    top: 30px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-family: 'Universe', sans-serif;
font-weight: 900;
font-size: 48px;
margin-left: 20px;
color: #fff8f1;
}
.txt-2{
    font-family: 'Helvitic', sans-serif;
    margin-left: 20px;
    margin-top: 120px;
    font-weight: 200;
    z-index: 999;
    color: white;
   font-size: 20px;
   width: 60%;
}
.tkt-1{
    position: relative;
    top: 88px;
    z-index: 9999;
    
}
button{
    font-weight: bolder;
    border: none;
    height: 50px;
    z-index: 9999;
    border-radius: 40px;
}
.img-1{
    width: 100%;
    height: 200px;
    background-image: url(AdobeStock_425766212_Preview.jpeg);
    background-size: cover;
    position: relative;
    top: 20px;
}
.img-3{
    width: 100%;
    height: 200px;
    background-image: url(farzad-p-xSl33Wxyc-unsplash.jpg);
    background-size: cover;
    position: relative;
    top: 20px;
}
.btn-1{
       width: 50%;
       background-color: #2356ff;
       color: rgb(255, 255, 255);
       z-index: 9999;
       border-radius: 15px;
       position: relative;
       top: 100px;
       margin-left: 20px;
}
.btn-1:hover{
    background-color: blueviolet;
}
.btn-2{
    width: 50%;
    background: none;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 15px;
    position: relative;
    top: 100px;
    margin-left: 20px;
    z-index: 9999;
}
body{
    background-color: black;
}
a{
    color: white;
}