img{
    width: 100%;
    height: auto;
    margin: 0px;
}
h1{
    font-size: 90px;
    font-family: 'Belanosima', sans-serif;
    margin-left: 50px;
    font-weight: bold;
    color: rgb(0, 0, 107);
}
body{
  background: linear-gradient(rgb(211, 211, 255), rgb(248, 222, 255));
}
h1[id="3"]{
  font-size: 87px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 70px;
  font-weight: bold;
}
h2{
    font-size: 80px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(80, 80, 80);
}
h3{
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin-left: 50px;
}
p{
    font-size: 60px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(139, 139, 139);
}
button{
    width: 50%;
    height: 140px;
    border-radius: 80px;
    font-size: 69px;
    position: fixed;
    bottom: 30px;
    left: 420px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
  text-decoration: none;
}
div[id="1"]{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 230px;
    bottom: 0;
    right: 0px;
    background-color: #e7e7e7;
    border-radius: 40px 40px 0 0;
}
button a {
  text-decoration: none;
  color: #ffffff;
}
.color-switcher {
    display: flex;
    margin-left: 50px;
  }
  
  .color-switcher input[type="radio"] {
    display: none;
  }
  
  .color-switcher label {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 35px;
    cursor: pointer;
  }
  
  .color-switcher label:hover {
    opacity: 0.8;
  }
  
  .color-switcher input[type="radio"]:checked + label {
    border: 1px solid black;
  }
  .product-sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 50px;
  border-radius: 50px;
  margin-left: -120px;
}
.size {
  width: 100px;
  height: auto;
  margin: 0 5px;
  padding: 5px 10px;
  margin-right: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 5px solid #000000;
  border-radius: 50px;
  text-align: center;
}
.horizontal-field {
  display: flex;
  overflow-x: auto;
  position: relative;
  top: 50px;
  left: 0px;
  right: 0px;
  width: 100%;
}
.product-card {
  width: auto;
  height: auto;
  margin-right: 40px;
  border-radius: 10px;
 }
 .product-card img {
   width: 500.0px;
   height: auto;
   border-radius: 28px;
 }
 
.product-card[id="5"] {
  width: auto;
  height: auto;
  margin-left: 60px;
  margin-top: 0px;
 }

 .product-card h2[id="unical"] {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    margin-top: 70px;
  }
  .product-card .price {
    font-weight: 700;
    color: #000000;
    font-size: 70px;
    position: relative;
    top: -70px;
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
  }
  div[id="9"]{
    height: 500px;
  }
  
.social-bar[id="8"] {
    padding: 10px 0;
    text-align: center;
    height: 200px;
    margin-left: 60px;
  }
  .social-icon[id="1"] {
    display: inline-block;
    margin: 0 10px;
    font-size: 74px;
    color: #000000;
    text-align: center;
    margin-top: -80px;
    margin-right: 120px;
  }
  p[id="unical"]{
    margin-left: -80px;
  }
  .add-to-cart{
    width: 95%;
    height: 110px;
    border-radius: 65px;
    background-color: rgb(0, 0, 230);
    position: relative;
    left: 20px;
    top: 50px;
  }