body{
    background-color: black;
}
h1{
    font-size: 248px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  rgb(255, 191, 104);
    height: auto;
}
h2{
    color: rgb(171, 253, 226);
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social-bar {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    height: 200px;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 74px;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    margin-right: 50px;
  }
  
  .social-icon i {
    transition: color 0.3s ease;
  }
  
  .social-icon:hover i {
    color: #FFBF68;
  }
  img{
    width: 900px;
    height: auto;
    position: relative;
    left: 30px;
    border-radius: 40px;
    margin-top: 30px;
  }
  h2[id="1"]{
    color: #000000;
  }
  div{
    background-color: #FFBF68; 
  }
  
  div[id="1"]{
    background-color: #FFBF68;
    margin-top: 100px;
  }
  .button {
    width: 780px;
    height: 64px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    margin-left: 100px;
    border-radius: 40px;
    border: none;
    background-color: #000000;
    color: #FFBF68;
    font-size: 40px;
    text-align: left;
    padding-left: 50px; /* или text-indent: 50px; */
  }
  div[id="2"]{
    margin-top: 60px;
  }
  span {
    display: inline-block;
    width: 700px;
    padding: 10px;
    height: 70px;
    margin: 10px;
    margin-left: 100px;
    border-radius: 40px;
    border: none;
    background-color: #000000;
    color: #FFBF68;
    font-size: 40px;
    text-align: left;
    padding-left: 50px; /* или text-indent: 50px; */
  }
  button[id="1"]{
    background-color: #FFBF68;
    color: #000000;
    border: 4px solid #000000;
  }
  h2[id="number"]{
    font-size: 80px;
    color: black;
    margin-left: -550px;
  }
  h2[id="3"]{
    font-size: 50px;
    color: #000000;
    margin-left: -500px;
    margin-top: -60px;
  }
  p{
    margin-left: 120px;
    font-size: 30px;
  }
  
.social-bar[id="1"] {
  background-color:#FFBF68;
  padding: 10px 0;
  text-align: center;
  height: 200px;
  margin-left: 60px;
}
.social-icon[id="1"] {
  display: inline-block;
  margin: 0 10px;
  font-size: 74px;
  color: #000000;
  text-align: center;
  margin-top: 30px;
  margin-right: 120px;
}
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFBF68;
  text-decoration: none;
}

.chat-icon i {
  font-size: 54px; /* Задайте нужный размер иконки */
}
